* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: #fff;
}

header{
    display: flex;
    gap: 20px;
    text-decoration: none;
    padding: 20px 0 0 165px;
    list-style: none;
}
header p{
    margin-left: auto;
    padding: 0 165px 0 0;
}
header a{
    color: #000;
}

nav{
    display: flex;
    gap: 20px;
    padding: 0 0 0 165px;
}
.restart{
    display: flex;
    margin-left: auto;
    padding: 0 165px 0 0;
    gap: 20px;
    margin-top: 50px;
}
input {
   margin-left: 10%;
   width: 30%;
   height: 40px;
   margin-top: 40px;
   border-radius: 15px;
   background: #F8F8F8;
   border: none;
}
button{
    height: 40px;
    margin-top: -10px;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: rgb(255, 0, 0);
    width: 200px;
}
button:hover{
    background-color: red;
    transition: 0.3s;
    color: #ffffff;
}
.restart sup{
    display: flex;
    margin-top: -25px;
    width: 15px;
    margin-left: 10px;
    background-color: red;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    justify-content: center;
}
nav .p11{
    margin-top: 30px;
    font-size: 26px;
}
nav .p12{
    margin-top: 60px;
    margin-left: -95px;
    font-size: 10px;
}
img{
    border-radius: 15px;
}
nav img{
    width: 5%;
    margin-top: 15px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

.big-img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
    height: 300px;
}

.content {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.content.reverse {
    flex-direction: row-reverse;
}

.content img {
    width: 300px;
    border-radius: 15px;
}

p {
    line-height: 1.6;
    color: #555;
}

.contact {
    margin-top: 20px;
    padding: 12px 25px;
    border: 1px solid red;
    background: transparent;
    color: red;
    border-radius: 10px;
    cursor: pointer;
}

.nav-link{
    margin-top: 10%;
    align-items: center;
}
.nav-link .ul-4{
    display: flex;
    gap: 30px;
    margin-top: 10%;
    margin-left: -13%;
}
header ul li{
    margin-top: 10px;
}
header ul .li-1{
    font-size: 20px;
}
header ul .li-2 a{
    font-size: 20px;
    color: #0077ff;
}


.container-8 header{
    margin-left: 20%;
    width: 60%;
    gap: 9%;
    list-style: none;
}
.container-8{
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.container-8 .ul-3{
    width: 45%;
}

.container-9{
    display: flex;
    padding: 20px;
}
.logo-9{
    display: flex;
    margin-left: auto;
    padding: 20px;
    gap: 20px;
    margin-right: 10%;
}
.container-9 .p-11{
    margin-left: 10%;
    color: #5a5757;
}
.box-8 button span{
    font-size: 9px;
    display: block;
    margin-top: -30px;
}
.box-8 .btn span{
    margin-left: 10px;
}
.box-8 .btn-2 span{
    margin-left: -25px;
}
.box-8 button i{
    display: flex;
    padding: 10px;
}
.logo-9 p{
    color: #5a5757;
}
button a{
    text-decoration: none;
    color: #ff0000;
}
button a:hover{
    color: #ffffff;
    transition: 0.4s;
}
img{
    height: 10%;
}
.container-8{
    margin-top: -13%;
}
.container-8 header{
    margin-top: -5%;
}
