*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.auto-text {
  margin-left: 10%;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}
body {
  min-height: 100vh;
  transition: background 1s ease-in-out;
}

header{
    display: flex;
    gap: 20px;
    text-decoration: none;
    padding: 20px 0 0 165px;
    list-style: none;
}
header p{
    margin-left: auto;
    padding: 0 165px 0 0;
}
header a{
    color: #000;
}

nav{
    display: flex;
    gap: 20px;
    padding: 0 0 0 165px;
}
.restart{
    display: flex;
    margin-left: auto;
    padding: 0 165px 0 0;
    gap: 20px;
    margin-top: 50px;
}
input {
   margin-left: 10%;
   width: 30%;
   height: 40px;
   margin-top: 40px;
   border-radius: 15px;
   background: #F8F8F8;
   border: none;
}
button{
    height: 40px;
    margin-top: -10px;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: rgb(255, 0, 0);
    width: 150px;
}
button:hover{
    background-color: red;
    transition: 0.3s;
    color: #ffffff;
}
.restart sup{
    display: flex;
    margin-top: -25px;
    width: 15px;
    margin-left: 10px;
    background-color: red;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    justify-content: center;
}
nav .p11{
    margin-top: 30px;
    font-size: 26px;
}
nav .p12{
    margin-top: 60px;
    margin-left: -95px;
    font-size: 10px;
}
img{
    border-radius: 15px;
}
nav img{
    width: 5%;
    margin-top: 15px;
}
.container{
    margin-top: 36px;
    width: 80%;
    height: 350px;
    background-color: #F2C77D;
    color: #ffffff;
    display: flex;
    margin-left: 9.5%;
    border-radius: 15px;
}
.container img{
    width: 50%;
}
.box button{
    margin-top: 130%;
    margin-left: -270%;
}
.box-2 p{
    display: flex;
    width: 140%;
    margin-top: 40%;
    margin-left: -30%;
}
.box-3 h2{
    display: flex;
    width: 180%;
    margin-top: 20%;
    margin-left: 60%;
}

.container-2{
    display: flex;
    text-decoration: none;
    color: #000;
    justify-content: center;
    margin-top: 5%;
}
.logo-2 a{
    color: #E80001;
}
.logo-2 a:hover{
    color: #ffffff;
    transition: 0.4s;
}
.logo-2{
   display: flex;
   gap: 45px;
   text-align: center;
   align-items: center;
   background-color: #ffffff;
}
.logo-2 button:hover{
    transition: all 0.4s ease-in-out;
    background-color: #E80001;
    color: #ffffff;
    transform: translateY(-20%);
}


.container-3{
    display: flex;

}
.logo-33{
    border: 1px solid #E80001;
    width: 15%;
    height: 330px;
    margin-left: 10%;
    border-radius: 15px;
}
.logo-333{
    border: 1px solid #E80001;
    width: 15%;
    height: 330px;
    margin-left: 10%;
    border-radius: 15px;
}
.logo-3{
    border: 1px solid #E80001;
    width: 15%;
    height: 330px;
    margin-left: 6%;
    border-radius: 15px;
}
.logo-33 img{
    width: 80%;
    padding: 15px;
}
.logo-333 img{
    width: 80%;
    padding: 15px;
    height: 150px;
}
.logo-3 img{
    width: 90%;
    padding: 15px;
    height: 150px;
}
.logo-33 button{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
}
.logo-333 button{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.logo-3 button{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
}

.logo-33 h3{
    margin-left: 10%;
}
.logo-333 h3{
    margin-left: 10%;
    margin-top: 14%;
}
.logo-33 h3:hover{
    color: #E80001;
    transition: 0.4s;
}
.logo-333 h3:hover{
    color: #E80001;
    transition: 0.4s;
}
.logo-3 h3{
    margin-left: 10%;
    margin-top: 14%;
}
.logo-3 h3:hover{
    color: #E80001;
    transition: 0.4s;
}
.logo-3 p{
    margin-left: 10%;
    color: #5a5757;
}
.logo-33 p{
    margin-left: 10%;
    color: #5a5757;
}
.logo-333 p{
    margin-left: 10%;
    color: #5a5757;
}
h1{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.container-4{
    display: flex;
    justify-content: center;
    gap: 65px;
}
.box-4{
    border: 1px solid #5a5757;
    width: 38%;
    height: 180px;
    display: flex;
    border-radius: 15px;
}
.box-4 img{
    display: flex;
    width: 30%;
}
.box-4 h3{
    margin-top: 45px;
    margin-left: 50px;
}
.box-44 a{
   display: flex;
   margin-top: 200%;
   margin-left: -400%;
}
.logo-4 h1{
    display: flex;
}
.logo-4 span{
    margin-left: auto;
    margin-right: 15%;
}
body .logo-4 .fa-solid:hover{
    color: #a7a7a7;
    transform: translateX(30%);
    transition: 0.4s;
}
body .container-4 .fa-solid:hover{
    color: #0077ff;
    transform: translateX(30%);
    transition: 0.4s;
}
.box-4 a:hover{
    color: #0077ff;
    transition: 0.4s;
}


.container-7{
    width: 100%;
    height: 200px;
}
.logo-7{
    background-color: #FFF3DE;
    border-radius: 16px;
    width: 80%;
    height: 50vh;
    margin-left: 9%;
}
.box-8 h1{
    margin-top: 10%;
    padding: 10px;
    width: 50%;
    margin-left: 50px;
}
.box-8 p{
    margin-left: 5%;
    width: 35%;
    margin-top: -2%;
}
.box-8 img{
    margin-left: 60%;
    margin-top: -19%;
    z-index: 100;
    width: 30%;
}
.box-7{
    margin-top: -13%;
}
.box-7 img{
    width: 9%;
    margin-left: 4%;
}
.box-7{
    display: flex;
}
.box-7 button i{
    display: flex;
    padding: 10px;
}
.box-7 button span{
    font-size: 9px;
    display: block;
    margin-top: -30px;
}
.box-7 .btn span{
    margin-left: 10px;
}
.box-7 .btn-2 span{
    margin-left: -25px;
}
.box-7 .btn{
    margin-top: 5%;
    margin-left: -12.5%;
}
.box-7 .btn-2{
    margin-top: 1.3%;
}


.nav-link{
    margin-top: 10%;
    align-items: center;
}
.nav-link .ul-4{
    display: flex;
    gap: 30px;
    margin-top: 10%;
    margin-left: -13%;
}
header ul li{
    margin-top: 10px;
}
header ul .li-1{
    font-size: 20px;
}
header ul .li-2 a{
    font-size: 20px;
    color: #0077ff;
}


.container-8 header{
    margin-left: 20%;
    width: 60%;
    gap: 9%;
    list-style: none;
    margin-top: -5%;
}
.container-8{
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.container-8 .ul-3{
    width: 45%;
}

.container-9{
    display: flex;
    padding: 20px;
}
.logo-9{
    display: flex;
    margin-left: auto;
    padding: 20px;
    gap: 20px;
    margin-right: 10%;
}
.container-9 .p-11{
    margin-left: 10%;
    color: #5a5757;
}
.box-8 button span{
    font-size: 9px;
    display: block;
    margin-top: -30px;
}
.box-8 .btn span{
    margin-left: 10px;
}
.box-8 .btn-2 span{
    margin-left: -25px;
}
.box-8 button i{
    display: flex;
    padding: 10px;
}
.logo-9 p{
    color: #5a5757;
}
button a{
    text-decoration: none;
    color: #ff0000;
}
button a:hover{
    color: #ffffff;
    transition: 0.4s;
}
.container-8 header{
    margin-top: -6.5%;
}
.container-9{
    display: flex;
    align-items: center;
}
